<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!bookForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="col-xs-12">
        <h3>Book</h3>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" formControlName="title" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="length">Length</label>
            <input type="number" id="length" formControlName="length" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="language">Language</label>
            <input type="text" id="language" formControlName="language" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imageURL">Image URL</label>
            <input type="text" id="imageURL" formControlName="imageURL" class="form-control">
          </div>
        </div>
      </div>
      </div>

      <div class="col-xs-12">
        <h3>Author</h3>
      <div class="row" formGroupName="author">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="firstName">FirstName</label>
            <input type="text" id="firstName" formControlName="firstName" class="form-control">
          </div>
        </div>
      </div>
      <div class="row" formGroupName="author">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lastName">LastName</label>
            <input type="text" id="lastName" formControlName="lastName" class="form-control">
          </div>
        </div>
      </div>
      <div class="row" formGroupName="author">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="birthYear">BirthYear</label>
            <input type="number" id="birthYear" formControlName="birthYear" class="form-control">
          </div>
        </div>
      </div>
      </div>
      <div class="col-xs-12">
        <h3>Publisher</h3>
      <div class="row" formGroupName="publisher">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
          </div>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>
