<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!bookForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" formControlName="title" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="length">Length</label>
            <input type="number" id="length" formControlName="length" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="language">Language</label>
            <input type="text" id="language" formControlName="language" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="firstName">FirstName</label>
            <input type="text" id="firstName" formControlName="firstName" class="form-control" #imageURL>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lastName">LastName</label>
            <input type="text" id="lastName" formControlName="lastName" class="form-control" #imageURL>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="birthYear">BirthYear</label>
            <input type="number" id="birthYear" formControlName="birthYear" class="form-control" #imageURL>
          </div>
        </div>
      </div>

      <!--<div class="row">-->
        <!--<div class="col-xs-12" formArrayName="authors">-->
          <!--<div class="row" *ngFor="let authorCtrl of bookForm['controls'].authors['controls']; let i = index" [formGroupName]="i"-->
               <!--style="margin-top: 10px;">-->
            <!--<div class="col-xs-8">-->
              <!--<label for="firstName">First Name</label>-->
              <!--<input type="text" id="firstName" class="form-control" formControlName="firstName">-->
            <!--</div>-->
            <!--<div class="col-xs-8">-->
              <!--<label for="lastName">Surname</label>-->
              <!--<input type="text" id="lastName" class="form-control" formControlName="lastName">-->
            <!--</div>-->
            <!--<div class="col-xs-2">-->
              <!--<label for="birthYear">Year of Birth</label>-->
              <!--<input type="number" id="birthYear" class="form-control" formControlName="birthYear">-->
            <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--</div>-->

      <!--<div class="row">-->
        <!--<div class="col-xs-12" formArrayName="publishers">-->
          <!--<div class="row" *ngFor="let publisherCtrl of bookForm['controls'].publishers['controls']; let i = index" [formGroupName]="i"-->
               <!--style="margin-top: 10px;">-->
            <!--<div class="col-xs-8">-->
              <!--<label for="name">Publisher Name</label>-->
              <!--<input type="text" id="name" class="form-control" formControlName="name">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    </form>
  </div>
</div>
