<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!bookForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" formControlName="title" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="length">Length</label>
            <input type="text" id="length" formControlName="length" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="language">Language</label>
            <input type="text" id="language" formControlName="language" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imageURL">Image URL</label>
            <input type="text" id="imageURL" formControlName="imageURL" class="form-control" #imageURL>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imageURL" class="img-responsive">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="authors">
          <!-- Oorspronkelijk: <div class="row" *ngFor="let authorCtrl of bookForm.get('authors').controls; let i = index" [formGroupName]="i" -->
          <div class="row" *ngFor="let authorCtrl of bookForm['controls'].authors['controls']; let i = index" [formGroupName]="i"
               style="margin-top: 10px;">
            <!-- De volgende regel voeg je ook toe -->
            <pre *ngIf="authorCtrl">{{ authorCtrl.value | json }}</pre>
            <div class="col-xs-8">
              <label for="firstName">First Name</label>
              <input type="text" id="firstName" class="form-control" formControlName="firstName">
            </div>
            <div class="col-xs-8">
              <label for="lastName">Surname</label>
              <input type="text" id="lastName" class="form-control" formControlName="lastName">
            </div>
            <div class="col-xs-2">
              <label for="birthYear">Year of Birth</label>
              <input type="number" id="birthYear" class="form-control" formControlName="birthYear">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteAuthor(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddAuthor()">Add Author</button>
            </div>
          </div>
          <br/>
          <br/>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="publishers">
          <!-- Oorspronkelijk: <div class="row" *ngFor="let authorCtrl of bookForm.get('authors').controls; let i = index" [formGroupName]="i" -->
          <div class="row" *ngFor="let publisherCtrl of bookForm['controls'].publishers['controls']; let i = index" [formGroupName]="i"
               style="margin-top: 10px;">
            <!-- De volgende regel voeg je ook toe -->
            <pre *ngIf="publisherCtrl">{{ publisherCtrl.value | json }}</pre>
            <div class="col-xs-8">
              <label for="name">Publisher Name</label>
              <input type="text" id="name" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeletePublisher(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddPublisher()">Add Publisher</button>
            </div>
          </div>
          <br/>
          <br/>
        </div>
      </div>

    </form>
  </div>
</div>
