<div class="row">
  <div class="col-xs-12">
    <img
      [src]="book.imageURL"
      alt="{{ book.title }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ book.title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Book <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditBook()">Edit Book</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteBook()">Delete Book</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <h3>About the book</h3>
    <p><strong>Title:</strong> {{ book.title}}</p>
    <p><strong>Language:</strong> {{ book.language }}</p>
    <p><strong>Length:</strong> {{ book.length }}</p>
    <p><strong>ISBN10:</strong> {{ book.isbn }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>About the author</h3>
    <img
      [src]="book.author.authorImageURL"
      alt="{{ book.author.lastName }}"
      class="img-responsive"
      style="max-height: 300px;">
    <p><strong>FirstName:</strong> {{ book.author.firstName}}</p>
    <p><strong>LastName:</strong> {{ book.author.lastName }}</p>
    <p><strong>date of birth:</strong> {{ book.author.dateOfBirth}}</p>
    <h3>About the publisher</h3>
    <p><strong>Name:</strong> {{book.publisher.name}}</p>
    <p><strong>abbreviation:</strong> {{book.publisher.abbreviation}}</p>
    <p><strong>location:</strong> {{book.publisher.location}}</p>
    <p><strong>KvK:</strong> {{book.publisher.kvkNumber}}</p>
  </div>
</div>
